.App {
  text-align: center;
  background-color: rgb(244,245,249);
  width: 100vw;
  height: 100vh;
}

#app-form-container {
  position: absolute;
  top:35%;
  left:35%;
  width:30vw;
  height: 25vh;
  background-color: rgb(255,255,255);
  border: 1px solid rgb(239,239,241);
  padding: 10px;
  box-shadow:  -1px 1px rgb(239,239,241),
         -2px 2px rgb(239,239,241),
         -3px 3px rgb(239,239,241),
         -4px 4px rgb(239,239,241),
         -5px 5px rgb(239,239,241);
}

#number-form-container{

}
#number-form-container label{
  font-size: 30px;
  font-weight: bold;
  color: rgb(27,52,70);
  font-family: "Lucida Console",Monospace;
}
#number-form {
  position: absolute;
  top:40%;
  left:30%
}

#phone-number {
  width:10vw;
  height: 2vh;
  border: 2px solid black;
  border-radius: 4px;
}

#phone-number-submit{
  content: '';
  position: absolute;
  right: -100px;
  top: 40%;
  margin-top: -12px;
  width: 100px;
  height: 28px;
  border: 2px solid;
  background-color: rgb(246,182,55);
  

}

#quote-form-container label{
  font-weight: bold;
  font-family: "Lucida Console",Monospace;
  color: rgb(27,52,70);
  display: block;
  padding: 10px;
}

#quote-submit {
  content: '';
  position: absolute;
  top:85%;
  left:43%;
  margin-top: -12px;
  width: 100px;
  height: 28px;
  border: 2px solid;
  background-color: rgb(246,182,55);
}

#quote label  {
  font-weight: bold;
  font-family: "Lucida Console",Monospace;
  color: rgb(27,52,70);
}